body
{
    font-family: cursive;
    font-size: 30px;
    background-image: radial-gradient(rgb(255, 191, 0), silver);
    color: green;
}
h1
{
    color: darkblue;
    text-align: center;
    font-family: fantasy;
}

#MainMenuImag
{
    height: 250px;
    width: 250px;
    left: 5%;
}