#ImagesAll
{
    height: 150px;
    width: 150px;
    left: 5%;
}

body
{
    text-align: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}